# Visualize data quality of stocks

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 100)

In [3]:
from stock_lib import read_stk_data, read_yaml,update_stk_sql

Using TensorFlow backend.

In [4]:
import sqlite3 as lite

In [5]:
stk_list = read_yaml('../configs/stocks.yml')
stk_list.append('NIFTY_50')

db_file = "../data/stock_data.db"

In [6]:
conn = lite.connect(db_file)
cur = conn.cursor()

In [7]:
l = []

for stk in stk_list:
    try:
        df = pd.read_sql_query('select * from '+stk,conn, index_col='Date')
        l.append([stk,len(df),df.shape[1],df.index[0],df.index[-1]])
    except:
        print("Error :"+stk)

Error :MM
Error :HCL_TECH

In [8]:
df_summary = pd.DataFrame(l,columns=['symbol','records','columns','start_date','end_date'])

In [9]:
df_summary.sort_values(by='records')

        symbol  records  columns  start_date    end_date
57       DMART      508       14  2017-03-21  2019-04-05
49     FRETAIL      626       14  2016-09-14  2019-04-05
51     RBLBANK      644       14  2016-08-31  2019-04-05
47      INDIGO      843       14  2015-11-10  2019-04-05
43   COALINDIA     2091       14  2010-11-04  2019-04-05
20    JUBLFOOD     2278       14  2010-02-08  2019-04-05
33   NESTLEIND     2299       14  2010-01-08  2019-04-05
17  WABCOINDIA     2602       14  2008-10-01  2019-04-05
24      COLPAL     2801       14  2007-12-17  2019-04-05
22   POWERGRID     2852       14  2007-10-05  2019-04-05
16     PAGEIND     2905       14  2007-03-16  2019-04-05
56    MINDTREE     2998       14  2007-03-07  2019-04-05
45     YESBANK     3409       14  2005-07-12  2019-04-05
10        NTPC     3581       14  2004-11-05  2019-04-05
54        GRUH     3613       14  2004-09-10  2019-04-05
13         TCS     3632       14  2004-08-25  2019-04-05
7           LT     3677       14  2004-06-23  2019-04-05
39        PGHH     3726       14  2003-01-01  2019-04-05
32    PETRONET     3738       14  2004-03-26  2019-04-05
38         UPL     3780       14  2004-01-23  2019-04-05
64    DIVISLAB     4000       14  2003-03-12  2019-04-04
62    CHOLAFIN     4012       14  2003-01-01  2019-04-04
26      MARICO     4040       14  2003-01-01  2019-04-05
14  MOTHERSUMI     4041       14  2003-01-01  2019-04-05
66    NIFTY_50     4046        6  2003-01-01  2019-04-04
37  SCHAEFFLER     4047       14  2003-01-01  2019-04-05
25    GILLETTE     4049       14  2003-01-01  2019-04-05
52       GLAXO     4049       14  2003-01-01  2019-04-05
15  PIDILITIND     4049       14  2003-01-01  2019-04-05
34  BAJFINANCE     4049       14  2003-01-01  2019-04-05
65     DRREDDY     4049       14  2003-01-01  2019-04-04
61      GRASIM     4049       14  2003-01-01  2019-04-04
59  SUPREMEIND     4049       14  2003-01-01  2019-04-05
30     HAVELLS     4049       14  2003-01-01  2019-04-05
63  FEDERALBNK     4049       14  2003-01-01  2019-04-04
27   BRITANNIA     4049       14  2003-01-01  2019-04-05
31    CADILAHC     4049       14  2003-01-01  2019-04-05
48      CONCOR     4049       14  2003-01-01  2019-04-05
2          ITC     4050       14  2003-01-01  2019-04-05
60    TATACHEM     4050       14  2003-01-01  2019-04-05
50   FINCABLES     4050       14  2003-01-01  2019-04-05
58    SHREECEM     4050       14  2003-01-01  2019-04-05
3   HINDUNILVR     4050       14  2003-01-01  2019-04-05
4         HDFC     4050       14  2003-01-01  2019-04-05
55  INDUSINDBK     4050       14  2003-01-01  2019-04-05
5         SBIN     4050       14  2003-01-01  2019-04-05
53        ZEEL     4050       14  2003-01-01  2019-04-05
1     HDFCBANK     4050       14  2003-01-01  2019-04-05
6         ONGC     4050       14  2003-01-01  2019-04-05
11   SUNPHARMA     4050       14  2003-01-01  2019-04-05
9   TATAMOTORS     4050       14  2003-01-01  2019-04-05
21   KOTAKBANK     4050       14  2003-01-01  2019-04-05
28   TATASTEEL     4050       14  2003-01-01  2019-04-05
29  ASIANPAINT     4050       14  2003-01-01  2019-04-05
19         MRF     4050       14  2003-01-01  2019-04-05
35        BPCL     4050       14  2003-01-01  2019-04-05
36       CIPLA     4050       14  2003-01-01  2019-04-05
8    ICICIBANK     4050       14  2003-01-01  2019-04-05
18       TITAN     4050       14  2003-01-01  2019-04-05
41  AUROPHARMA     4050       14  2003-01-01  2019-04-05
42    AXISBANK     4050       14  2003-01-01  2019-04-05
12  BHARTIARTL     4050       14  2003-01-01  2019-04-05
44    HINDALCO     4050       14  2003-01-01  2019-04-05
23        INFY     4050       14  2003-01-01  2019-04-05
46   AMBUJACEM     4050       14  2003-01-01  2019-04-05
40        GAIL     4050       14  2003-01-01  2019-04-05
0     RELIANCE     4050       14  2003-01-01  2019-04-05

In [14]:
from datetime import date
from nsepy import get_history

In [16]:
st_date = date(2019,4,1)
end_date = date(2019,4,6)

In [17]:
get_history(symbol='NIFTY_50', start=st_date, end=end_date,index=True)

                Open      High       Low     Close     Volume      Turnover
Date
2019-04-01  11665.20  11738.10  11644.75  11669.15  379572660  1.897799e+11
2019-04-02  11711.55  11729.35  11655.85  11713.20  386131413  1.867370e+11
2019-04-03  11735.30  11761.00  11629.15  11643.95  365760070  1.905095e+11
2019-04-04  11660.20  11662.55  11559.20  11598.00  349029830  1.971301e+11
2019-04-05  11638.40  11689.65  11609.50  11665.95  266665797  1.500035e+11