# Visualize data quality of stocks

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
pd.set_option('display.max_rows', 100)

In [6]:
from stock_lib import read_stk_data, read_yaml,update_stk_sql

Using TensorFlow backend.

In [7]:
import sqlite3 as lite

In [8]:
stk_list = read_yaml('../configs/stocks.yml')
stk_list.append('NIFTY_50')

db_file = "../data/stock_data.db"

In [9]:
conn = lite.connect(db_file)
cur = conn.cursor()

In [ ]:
l = []

for stk in stk_list:
    try:
        df = pd.read_sql_query('select * from '+stk,conn, index_col='Date')
        l.append([stk,len(df),df.shape[1],df.index[0],df.index[-1]])
    except:
        print("Error :"+stk)

In [ ]:
df_summary = pd.DataFrame(l,columns=['symbol','records','columns','start_date','end_date'])

In [ ]:
df_summary.sort_values(by='records')
# sns.jointplot(x='start_date',y='records',data=df_summary)

In [ ]:
from datetime import date
from nsepy import get_history

In [ ]:
st_date = date(2019,4,1)
end_date = date(2019,4,6)

In [ ]:
get_history(symbol='NIFTY_50', start=st_date, end=end_date,index=True)

# Plot the candles using plotly

In [ ]:
import plotly
plotly.__version__

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go
from datetime import datetime
#plotly.tools.set_credentials_file(username='akarthik', api_key='XWpZWL4wuzcN2jScPuOM')

In [ ]:
df = pd.read_sql_query('select * from '+'HDFC',conn, index_col='Date')

In [ ]:
df = df[df.index>'2017-01-01']
df.columns

In [ ]:
trace = go.Ohlc(x=df.index,
                open=df['Open'],
                high=df['High'],
                low=df['Low'],
                close=df['Close'])
data = [trace]
py.iplot(data, filename='simple_candlestick')

# Bollinger the 2 sigma limits for pct change

In [15]:
df = pd.read_sql_query('select Date,Close from '+'HDFC',conn, index_col='Date')

In [25]:
df['pct_change']=df['Close'].pct_change(1)
df['sigma']=df['pct_change'].rolling(100).std()

df[df['pct_change'].apply(np.abs)>2*df['sigma']]

              Close  pct_change     sigma
Date
2003-06-09   381.50    0.038519  0.017648
2003-06-13   387.10    0.052904  0.018504
2003-07-03   418.10    0.085692  0.021006
2003-08-12   478.75    0.057427  0.022864
2003-08-19   510.55    0.064089  0.024018
2003-08-21   481.40   -0.057741  0.024686
2003-09-24   505.50    0.051482  0.024421
2003-10-06   550.90    0.055364  0.024550
2003-12-24   665.35    0.070900  0.024156
2004-01-21   626.25   -0.046005  0.021474
2004-01-28   655.35    0.057613  0.022169
2004-02-20   647.70   -0.042572  0.021282
2004-03-01   641.75    0.052567  0.021103
2004-05-05   646.75    0.043566  0.020251
2004-05-11   607.85   -0.062394  0.020456
2004-05-12   582.20   -0.042198  0.020833
2004-05-14   544.95   -0.079399  0.022302
2004-05-17   505.65   -0.072117  0.023405
2004-05-18   590.45    0.167705  0.028888
2004-10-14   654.55   -0.051583  0.018576
2004-10-15   629.70   -0.037965  0.018935
2004-11-30   800.75    0.040476  0.018109
2004-12-01   769.30   -0.039276  0.018592
2004-12-02   803.70    0.044716  0.018939
2004-12-03   769.25   -0.042864  0.019455
2005-03-23   708.10   -0.041359  0.018326
2005-03-30   734.80    0.065854  0.019450
2005-04-28   752.45    0.036290  0.017701
2005-06-30   890.85    0.045721  0.017287
2005-08-11   950.95    0.045977  0.018117
2005-09-08   937.30    0.039366  0.016207
2005-09-16  1064.80    0.063630  0.017746
2005-09-21   990.35   -0.038355  0.017891
2005-12-13  1171.35    0.038523  0.019247
2005-12-23  1203.30   -0.067462  0.020592
2006-01-20  1250.50    0.058356  0.021957
2006-05-08  1340.95    0.041798  0.020330
2006-05-18  1292.30   -0.045815  0.020472
2006-05-24  1174.65   -0.057679  0.020586
2006-05-31  1123.55   -0.047112  0.021236
2006-06-02  1178.50    0.066371  0.022062
2006-06-09  1207.75    0.088406  0.023932
2006-06-12  1117.30   -0.074891  0.025037
2006-06-13  1016.70   -0.090038  0.026591
2006-06-15  1059.75    0.061821  0.027348
2006-06-22  1123.70    0.101343  0.028255
2007-01-12  1578.70    0.036879  0.017837
2007-02-02  1743.65    0.041016  0.018198
2007-02-05  1820.35    0.043988  0.018599
2007-02-28  1507.25   -0.061459  0.019257
...             ...         ...       ...
2015-01-15  1202.55    0.073418  0.018160
2015-01-20  1251.55    0.059110  0.018862
2015-01-30  1262.50   -0.040325  0.019636
2015-03-10  1312.40   -0.040889  0.019721
2015-03-26  1283.70   -0.052305  0.020342
2015-08-24  1167.75   -0.049334  0.017638
2015-08-26  1102.35   -0.037711  0.018009
2015-08-27  1193.90    0.083050  0.019905
2015-09-03  1172.05    0.043538  0.020592
2015-10-05  1256.95    0.050435  0.020343
2016-02-10  1116.55   -0.037374  0.015334
2016-02-11  1066.65   -0.044691  0.015940
2016-03-15  1111.35   -0.040865  0.015615
2016-04-28  1085.55   -0.032055  0.015748
2016-10-13  1338.90   -0.037766  0.013243
2016-10-18  1355.25    0.040939  0.013597
2016-10-27  1378.55    0.032893  0.013503
2016-11-01  1417.20    0.028820  0.013782
2016-11-09  1350.80   -0.029144  0.013847
2016-11-11  1268.35   -0.042430  0.014647
2016-11-15  1225.75   -0.033587  0.014882
2017-01-02  1217.10   -0.036037  0.015596
2017-01-25  1337.40    0.044232  0.015923
2017-02-01  1412.10    0.033862  0.016239
2017-03-14  1424.15    0.036650  0.015277
2017-05-02  1584.75    0.030966  0.013271
2017-05-10  1572.00    0.031835  0.013284
2017-05-29  1598.85    0.032916  0.013443
2017-07-27  1728.20    0.058006  0.012837
2017-07-28  1785.35    0.033069  0.013008
2017-10-25  1677.65   -0.025925  0.011081
2017-11-01  1754.30    0.027469  0.011329
2017-11-17  1705.50    0.024694  0.011627
2018-01-15  1871.20    0.062608  0.011803
2018-01-29  1967.60    0.031075  0.012165
2018-02-02  1903.85   -0.032375  0.012752
2018-02-05  1823.35   -0.042283  0.013428
2018-06-22  1906.75    0.025741  0.012416
2018-07-04  1922.50    0.022770  0.010998
2018-08-03  1977.50    0.023577  0.011115
2018-08-16  1891.20   -0.025908  0.010994
2018-09-14  1925.45    0.025375  0.011266
2018-09-17  1878.85   -0.024202  0.011431
2018-09-24  1718.70   -0.065619  0.013199
2018-09-25  1773.35    0.031797  0.013511
2018-10-01  1806.35    0.029553  0.014037
2018-10-05  1708.65   -0.039248  0.014529
2018-10-19  1660.25   -0.044625  0.015895
2018-10-31  1769.25    0.058227  0.017343
2018-11-02  1824.40    0.035414  0.017694

[203 rows x 3 columns]

In [ ]:
sns.distplot(df['pct_change'].dropna())

In [ ]:
df[df['pct_change']<-.04].loc[:,['Close','pct_change']]

In [ ]:
df['pct_change'].std()

In [ ]:
df['pct_change'].mean()

In [ ]:
df.iloc[-100:,:]['pct_change'].plot()

In [ ]:
df.iloc[-100:,:]['Close'].plot()

In [ ]:
df.tail()